# Handle line endings automatically for files detected as text
# and leave all files untouched if they are not binary.
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flac binary
*.wav binary
*.ogg binary
*.pdf binary
*.jks binary
